* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: bisque;
    font-weight: 600;
  }
  /* Header */
  .header {
    text-align: center;
    background-color: lightgreen;
    line-height: 50px;
    height: 50px;
    font-size: 25px;
    font-family: 'Lacquer', cursive;
  }
   /* Main */
 #main {
  min-height: 100vh;
}
  #title {
    margin-top: 20px;
    text-align: center;
    font-family: 'Lacquer', cursive;
  }
  
  .descrip {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    color: lightseagreen;
    text-shadow: 2px 2px 5px white;
    font-family: 'Lacquer', cursive;
  }
  #name-holder {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#nameInput, .update {
    padding: 10px;
    margin: 10px;
}
#nameInput {
    background-color: lightgreen;
    border: 2px solid white;
    outline: none;
    box-shadow: 2px 2px 5px black;
}
.update {
    background-color: brown;
    border: 2px solid pink;
    cursor: pointer;
    box-shadow: 2px 2px 5px pink;
    color: white;
}
.update:hover {
    opacity: 0.9;
}
#nameInput::placeholder {
    color: black;
}
  /* Button container */
  #button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
  }
  
  .button {
    background-color: black;
    border: 2px solid lightcyan;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: 1s;
  }
  .button:hover:not(.button-disabled) {
    transform: translateY(-10px);
    box-shadow: 2px 2px 5px green;
  }
  
  .button.button-disabled:hover {
    transform: none;
    box-shadow: none;
  }
  
  .button .img {
    max-width: 60%;
    height: auto;
  }
  #score-label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #playerText, .computerText {
    font-size: 30px;
    padding: 30px;
    margin-top: 10px;
  }
  .result {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: red;
    font-family: 'Lacquer', cursive;
  }
  #scoreMessage {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
  }
  #score-container {
    display: flex;
    justify-content: center;
  }
  #playerscore, #computerscore {
    font-size: 35px;
    padding: 20px;
    font-family: 'Lacquer', cursive;
  }
  .restartContainer {
    display: flex;
    justify-content: center;
}
  button.restartBtn {
    width: 150px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
    text-align: center;
    background-color: red;
    color: white;
}
  .image-small {
    display: block;
    padding: 10px;
    width: 120px;
    height: auto;
  }
   /* FOOTER */
 .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: #ddd;
  font-size: 20px;
  background-color: black;
}

.fa-github {
  color: #ddd;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
  /* Media queries */
  @media screen and (max-width: 560px) {
    .button .img {
        max-width: 100%;
        height: auto;
    }
  }
  @media screen and (max-width: 460px) {
    button.restartBtn {
      width: 100px;
      height: auto;
    }
  }
  @media screen and (max-width: 445px) {
    .image-small {
      width: 100px;
      height: auto;
    }
    .result {
      font-size: 25px;
    }
    #playerText, .computerText {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 425px) {
    .image-small {
      width: 100px;
      height: auto;
    }
    .result {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 400px) {
    #title {
      font-size: 30px;
    }
    .descrip {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 375px) {

    .image-small {
      width: 80px;
      height: auto;
    }
  }
  @media screen and (max-width: 300px) {
    #playerText, .computerText {
      font-size: 22px;
    }
    .result {
      font-size: 17px;
    }
    .image-small {
      width: 70px;
      height: auto;
    }
  }

 
  